<h1 >Template reference variable</h1>

<input type="text" #inputBox  placeholder="Enter">
<button (click)="getValue(inputBox.value)">Click</button><br>
<p>{{inputBox.value}}</p>

<!--Template variable scope-->
<input #ref1 type="text" [(ngModel)]="firstExample" />
<span *ngIf="true">Value: {{ ref1.value }}</span><br>
<!--Accessing a template variable from the parent template works because the child template inherits the context from the parent template.-->

<!-- <input #ref1 type="text" [(ngModel)]="firstExample" />
 New template
<ng-template [ngIf]="true">-->
  <!-- Because the context is inherited, the value is available to the new template -->
  <!-- <span>Value: {{ ref1.value }}</span>
</ng-template> --> 

<!-- <input *ngIf="true" #ref2 type="text" [(ngModel)]="secondExample" />
<span>Value: {{ ref2.value }}</span> 
doesn't work -->

<!-- <ng-template [ngIf]="true"> -->
  <!-- The reference is defined within a template -->
  <!-- <input #ref2 type="text" [(ngModel)]="secondExample" />
</ng-template> -->
<!-- ref2 accessed from outside that template doesn't work -->
<!-- <span>Value: {{ ref2?.value }}</span> -->

<ng-container *ngFor="let i of [1,2]">
  <br><input #ref type="text" [value]="i" /><br>
  Input value : {{ ref.value }}
</ng-container>


